$def with(nombre, email)

<h1>Materias por Cursar</h1>
<br>
<br>
    <table class="egt" border="black">
        <tr style="text-align: center; width: 30px">
          <td><strong>No.</strong></td>
          <td><strong>Periodo</strong></td>
          <td><strong>Clave</strong></td>
          <td><strong>Materia</strong></td>
          <td><strong>Catedratico</strong></td>
          <td><strong>Creditos</strong></td>
          <td><strong>Campus</strong></td>          
        </tr>      
        <tr>
          <td>01</td>
          <td>Sep-Dic</td>
          <td>QWERTY</td>
          <td>Interfaces Graficas</td>
          <td>Salvador Hernández</td>
          <td>15</td>
          <td>Pachuca</td>          
         </tr>
         <tr>
          <td>02</td>
          <td>Sep-Dic</td>
          <td>ASDFGH</td>
          <td>Modelo de Negocios</td>
          <td>Moramay Ramirez</td>
          <td>15</td>
          <td>Pachuca</td>          
         </tr>
      </table>
    
    